$white: rgba(255, 255, 255, 1);
$darkGreen: rgba(39, 81, 34, 1);
$hoverColor: rgb(95, 254, 78);
$focusColor: rgb(0, 171, 82);
$activeColor: rgb(0, 237, 146);
$hoverColorBtn: rgb(78, 251, 254);
$focusColorBtn: #a2d0ff;
$activeColorBtn: rgb(0, 41, 77);

$transition: all .2s ease-in-out;


$moreInfoPadding: 146px;
